<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify</title>
</head>

<body>
    <!-- display message -->
    <% if(message){ %>
        <p>
            Message: <%= message %>
        </p>
        <% } %>

        <form action="/auth/verify-account?token=<%= token %>" method="POST">

            <input type="submit" value="VERIFY"/>
        </form>
</body>

</html>