<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CSS Boarding Pass</title>
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>

    <style>
        @import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

        *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Josefin Sans', sans-serif;
        }

        body{
        background-image: url(./pesawat.jpg);
        }

        .wrapper{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        display: flex;
        width: 520px;
        }

        .wrapper .qr_code{
        width: 30%;
        background: #252525;
        padding: 20px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        position: relative;
        }

        .wrapper .qr_code img{
        width: 115px;
        display: block;
        }

        .wrapper .content{
        width: 70%;
        background: #fff;
        padding: 20px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        }

        .wrapper .content .location{
        display: flex;
        justify-content: space-between;
        text-align: center;
        margin-bottom: 20px;
        }

        .wrapper .content .location h1{
        margin-bottom: 5px;
        color: #252525;
        }

        .wrapper .content .location p,
        .wrapper .content .info p{
        font-size: 10px;
        color:black;
        }

        .wrapper .content .location .fas{
        color: black;
        font-size: 32px
        }

        .wrapper .content .info{
        display: flex;
        justify-content: space-between;
        }

        .wrapper .content .info h4{
        margin-bottom: 10px;
        text-transform: uppercase;
        font-size: 12px;
        }

        /* .wrapper .qr_code:before,
        .wrapper .qr_code:after{
        content: "";
        position: absolute;
        right: -25px;
        width: 50px;
        height: 50px;
        background-image: url(./pesawat.jpg);
        border-radius: 50%;
        } */

        .wrapper .qr_code:before{
        top: -30px;
        
        }

        .wrapper .qr_code:after{
        bottom: -30px;
        }
    </style>

</head>
<body>

<div class="bg">
<div class="wrapper">
    <div class="qr_code">
      <img src="QR_Code.png" alt="QR_code">
  </div>
    <div class="content">
      <div class="location">
        <div class="item">
          <h1>DXB</h1>
          <p>2:00AM </p>
        </div>
        <div class="path">
          <i class="fas fa-plane"></i>
        </div>
        <div class="item">
          <h1>LHR</h1>
          <p>12:00PM </p>
        </div>
      </div>
      
      <div class="info">
        <div class="item">
          <h4>Name</h4>
          <p>Hasanudin</p>
        </div>
        <div class="item">
          <h4>Duration</h4>
          <p>2j 30m</p>
        </div>
        <!-- <div class="item">
          <h4>gate</h4>
          <p>12</p>
        </div> -->
        <div class="item">
          <h4>Passenger</h4>
          <p>1</p>
        </div>
        <div class="item">
          <h4>Date</h4>
          <p>20 July 2022</p>
        </div>
      </div>
  </div>
</div>
</div>

</body>
</html>